doctype html
html
    head
    body
        - const allposts = results
        each pos in allposts
            div(style = "border: 1px solid #555")
                p="title: "+pos.title
                p="author: "+pos.authorId.author
                | Comments:
                br
                for com in pos.comments
                    p=com.date + " " + com.body
                else
                    p="No Comments"
