doctype html
html
    head
    body
        div
            h1 Sign Up
            form(action="/users/signup", method="post")
                label Author:
                input(type="text" name = "author")
                br
                label Email ID:
                input(type="email", name = "email" placeholder = "mailid@domain.com")
                br
                label Password:
                input(type="password" name = "password")
                br

                input(type="submit" value = "Submit")